.nav {
    width: 100%;
    color: black;
    background-color: #8B4513;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-a {
    float: left;
    display: block;
    color: #F0E68C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    background: #F0E68C;
    color: #8B4513;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8B4513;
    left: 0;
    right: 0;
    color: #F0E68C;
    height: 25px;
    text-align: center;
    padding: 5px;
}

.hero {
    margin-top: 50px;
}
.hero-text {
    background-color: #F0E68C;
    text-align: center;
    padding: 5px;
}

.p {
    background-color: #F0E68C;
    margin-top: 100px;
    width: 70%;
    padding: 10px;
    font-size: 14pt;
}

.sidebar {
    width: 150px;
    position: fixed;
    bottom: 20%;
    right: 0;
    background-color: #F0E68C;
    text-align: center;
    font-size: 14pt;
    padding: 10px;
    border-radius: 20px;
}

.table {
    margin: 30px;
    margin-top: 50px;
    font-size: 14pt;
    width: 80%;

}

.table-wide {
    margin-top: 100px;
    margin-left: 5%;
    font-size: 14pt;
    width: 90%;
}


th {
    height: 30px;
    color: #F0E68C;
    background: #8B4513;

}
td {
    width: 250px;
    height: 50px;
    text-align: center;
    background: #F0E68C;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.id {
    width: 10px;
}

.editor {
    padding: 2px;
    margin-top: 100px;
    margin-left: 30%;
    color: black;
    width: 500px;
    height: 250px;
    background-color: #F0E68C;
    font-size: 14pt;
    text-align: center;
    border-radius: 20px;
}

.editor-search {
    height: 150px;
}

.editor-add {
    height: 350px;
}

.editor-edit {
    height: 680px;
}

.editor-edit-reader {
    height: 260px;
}

.editor-login {
    height: 250px;
}

.editor-dashboard {
    height: 30px;
    background-color: #38c172;
}

.editor-sort {
    height: 100px;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.floating-button-red:hover {
    background: rgba(255, 0, 45, 0.92);
    box-shadow: 0 15px 20px rgba(186, 15, 45, 0.92);
    color: white;
    transform: translateY(-7px);
}

.floating-button-yellow:hover {
    background: rgb(252, 198, 3);
    box-shadow: 0 15px 20px rgba(246, 214, 6, 0.92);
    color: white;
    transform: translateY(-7px);
}

.form-control {
    display: inline-block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.dropdown {
    margin-top: 70px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}










